@model IEnumerable<WaterCompanyCet47.Web.Data.Entities.Invoice>

@{
    ViewData["Title"] = "Index";
}


<main id="main">

    <section class="inner-page">
        <div class="container">
            <br /><br />
            <center><h2>Faturação</h2></center>

            @*<p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>*@

            <h4>Consumos</h4>
            <hr />

            <table class="table">
                <thead>
                    <tr>
                        @if (this.User.IsInRole("Admin"))
                        {
                            <th>
                                @Html.DisplayNameFor(model => model.User.FullName)
                            </th>
                        }
                        <th>
                            @Html.DisplayNameFor(model => model.Equipment.WaterMetering)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.InvoiceDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Consumption.ForBegin)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Consumption.ForEnd)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Consumption.ConsumptionValue)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalAmount)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        @if (this.User.IsInRole("Admin"))
                        {
                            <th>
                                @Html.DisplayFor(modelItem => item.User.FullName)
                            </th>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.Equipment.WaterMetering)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InvoiceDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Consumption.ForBegin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Consumption.ForEnd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Consumption.ConsumptionValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalAmount)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>

</main><!-- End #main -->
