@model WaterCompanyCet47.Web.Data.Entities.User

@{
    ViewData["Title"] = "Profile";
}

<main id="main">
    <section class="inner-page">
        <div class="container">
            <br /><br />
            <center><h2>Seu Perfil</h2></center>

            <div>
                <h4>@Html.DisplayFor(model => model.FullName)</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt>
                        Username
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt>
                        Telemóvel
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="ChangePassword" asp-route-id="@Model.Id" class="btn btn-warning">Alterar Palavra-Passe</a>
                <a asp-action="Index" class="btn btn-success">Voltar</a>
            </div>
        </div>
    </section>

</main><!-- End #main -->