@model IEnumerable<WaterCompanyCet47.Web.Data.Entities.ConsumptionDetailTemp>

@{
    ViewData["Title"] = "Create";
}

<main id="main">

    <section class="inner-page">
        <div class="container">
            <br /><br />
            <center><h2>Adicionar Novo Consumo</h2></center>

            <h4>
                Consumos 
                <a asp-action="AddConsumption"><i class="fas fa-plus-circle"></i></a>
                <a asp-action="ConfirmConsumption"><i class="fas fa-check-circle"></i></a>
            </h4>

            <hr />

            @*<p>
                    <a asp-action="AddConsumption" class="btn btn-success">Adicionar Consumo</a>
                    <a asp-action="ConfirmConsumption" class="btn btn-primary">Confirmar Consumo</a>
                </p>*@
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Equipment.WaterMetering)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ForMonth)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ConsumptionValue)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Equipment.WaterMetering)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ForMonth)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConsumptionValue)
                            </td>
                            <td>
                                <a asp-action="Increase" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-plus"></i></a>
                                <a asp-action="Decrease" asp-route-id="@item.Id" class="btn btn-info"><i class="fa fa-minus"></i></a>
                                <a asp-action="DeleteItem" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </section>

</main><!-- End #main -->