@model IEnumerable<WaterCompanyCet47.Web.Data.Entities.Consumption>

@{
    ViewData["Title"] = "Index";
}


<main id="main">

    <section class="inner-page">
        <div class="container">
            <br /><br />
            <center><h2>Histórico de Consumos</h2></center>

            @*<p>
                    <a asp-action="Create" class="btn btn-primary">Create New</a>
                </p>*@

            <h4>Consumos <a asp-action="AddConsumption" title="Adicionar Novo Consumo"><i class="fas fa-plus-circle"></i></a></h4>
            <hr />

            <table class="table">
                <thead>
                    <tr>
                        @if (this.User.IsInRole("Admin"))
                        {
                            <th>
                                @Html.DisplayNameFor(model => model.User.FullName)
                            </th>
                        }
                        <th>
                            @Html.DisplayNameFor(model => model.Equipment.WaterMetering)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ConsumptionDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ForBegin)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ForEnd)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ConsumptionValue)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (this.User.IsInRole("Admin"))
                            {
                                <th>
                                    @Html.DisplayFor(modelItem => item.User.FullName)
                                </th>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.Equipment.WaterMetering)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConsumptionDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ForBegin)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ForEnd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConsumptionValue)
                            </td>

                            <td>
                                @if (item.InvoiceIssued == true)
                                {
                                    <a asp-action="Edit" asp-route-id="@item.Id" title="Editar" class="btn btn-outline-primary far fa-edit disabled"></a>
                                    <a asp-action="Details" asp-route-id="@item.Id" title="Detalhes" class="btn btn-outline-success fas fa-info-circle"></a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" title="Apagar" class="btn btn-outline-danger fas fa-trash-alt disabled"></a>
                                    <span><i class="fas fa-check"></i></span>

                                }
                                else
                                {
                                    <a asp-action="Edit" asp-route-id="@item.Id" title="Editar" class="btn btn-outline-primary far fa-edit"></a>
                                    <a asp-action="Details" asp-route-id="@item.Id" title="Detalhes" class="btn btn-outline-success fas fa-info-circle"></a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" title="Apagar" class="btn btn-outline-danger fas fa-trash-alt"></a>
                                    @if (this.User.IsInRole("Admin"))
                                    {
                                        <a asp-action="CalculateInvoice" asp-controller="Invoices" asp-route-id="@item.Id" title="Gerar Fatura" class="btn btn-outline-warning fas fa-calculator"></a>
                                    }
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>

</main><!-- End #main -->

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.Message");
                }
    </script>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
