@model IEnumerable<WaterCompanyCet47.Web.Data.Entities.User>

@{
    ViewData["Title"] = "ListAllCustomer";
}

<main id="main">

    <section class="inner-page">
        <div class="container">

            <br /><br />
            <center><h2>Faturação</h2></center>

            <h4>Clientes</h4>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>

                                <a asp-action="AddConsumption" asp-route-id="@item.Id" title="Adicionar Novo Consumo"><i class="fas fa-plus-circle"></i></a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>

</main><!-- End #main -->